<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutAlign="center center"
  fxLayoutGap.gt-md="20px"
>
  <section>
    <h1>فعالیت کنید</h1>
    <p>
      هیچی مهم‌تر از سلامتی نیست و ورزش شاه کلید طول عمر زیاد و یک زندگی سالم
      می‌باشد پس تا می‌توانید فعالیت کنید و به ورزش ادامه بدید
    </p>
  </section>

  <section>
    <h1>به اشتراک بزارید</h1>
    <p>
      می‌توانید تمرین کنید و نتیجه و پیشرفت خودتان را با دوستانتان به اشتراک
      بزارید تا آنها هم تشویق بشوند با شما ورزش را شروع کنند
    </p>
  </section>

  <section>
    <h1>به چالش بکشانید</h1>
    <p>
      توی برنامه ما انواع و اقسام تمرینات مختلف با شدت‌های مختلف وجود دارد که هر
      روز با توجه به توانایی‌تان می‌تونید از آنها استفاده کنید
    </p>
  </section>
</div>
